html, body {margin: 0px; padding: 0px; height: 100%; text-align: center;}
section {min-height: 100%;}
a {text-decoration: none;}
li {list-style-type: none;}

h1, h2, h3, a{font-family: 'Roboto', sans-serif; font-weight: 500; color: #494949; text-transform: uppercase;}
h2 {color: #5d7177}
h3 {font-size: 40px; padding-top: 8%; margin-bottom: 5px;}
p {font-family: 'Roboto', sans-serif; font-weight: 100; color: #494949;}

li, .button, img {transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;}



/* Seitenleiste**********************************************/

header {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#logo img{
    width: 320px;
    float: left;
    margin: 10px 0 0 40px;
}

header nav {
    float: right;
    margin: 25px 50px 0 0;
}

header nav ul li {
    float: left;
    margin-left: 25px
}

header nav ul li a {
    font-size: 16px;
}

header nav ul li:hover {
    opacity: 0.5;
}

/* Startseite**********************************************/


#räume h3 {
    font-size: 45px;
}

#startseite p {
    margin: 0 auto 0 auto;
    font-size: 20px;
    width: 100%;
}

.grossebilder img {
    width: 900px;
    height: auto;
    border-radius: 5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery img{
    width: 100%;
    border-radius: 4px
}

/* seitenleiste**********************************************/

@media screen and (max-width: 1200px){ 
    header {
        height: auto;
    }

    header nav {
        margin-top: -10px;
    }

    header nav ul li {
        font-size: 12px;
    }

    #logo img {
        width: auto;
        height: 20px;
        float: left;
        margin: 2px 0 0 40px;
    }
}

@media screen and (max-width: 960px){ 

    header nav ul li {
        display: none;
    }

}

/* algemein**********************************************/

@media screen and (max-width: 1000px){ 

    .bilder {
        width: 100%;
    }

    p {
        font-size: 15px;
    }
    
    h1 {
        font-size: 80px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    }
    
@media screen and (max-width: 600px){ 
    
    p {
        font-size: 16px;
    }
        
    h1 {
       font-size: 50px;
    }
        
    h2 {
        font-size: 18px;
    }
        
    h3 {
        font-size: 30px;
    }
        
}